:root{
    --primario:#9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233,187,2);
    --blanco: #fff;
    --negro: #000;

    --fuente-principal: 'Staatliches', cursive;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  
  /*Globales*/

  body{
  background: #6b6b6b;
  background: -moz-linear-gradient(top, #6b6b6b 0%, #000000 0%, #7d7d7d 12%, #636363 39%, #8f8f8f 68%, #3d3d3d 87%, #262626 91%, #1a1a1a 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #6b6b6b), color-stop(0%, #000000), color-stop(12%, #7d7d7d), color-stop(39%, #636363), color-stop(68%, #8f8f8f), color-stop(87%, #3d3d3d), color-stop(91%, #262626), color-stop(100%, #1a1a1a));
  background: -webkit-linear-gradient(top, #6b6b6b 0%, #000000 0%, #7d7d7d 12%, #636363 39%, #8f8f8f 68%, #3d3d3d 87%, #262626 91%, #1a1a1a 100%);
  background: -o-linear-gradient(top, #6b6b6b 0%, #000000 0%, #7d7d7d 12%, #636363 39%, #8f8f8f 68%, #3d3d3d 87%, #262626 91%, #1a1a1a 100%);
  background: -ms-linear-gradient(top, #6b6b6b 0%, #000000 0%, #7d7d7d 12%, #636363 39%, #8f8f8f 68%, #3d3d3d 87%, #262626 91%, #1a1a1a 100%);
  background: linear-gradient(to bottom, #6b6b6b 0%, #000000 0%, #7d7d7d 12%, #636363 39%, #8f8f8f 68%, #3d3d3d 87%, #262626 91%, #1a1a1a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#1a1a1a', GradientType=0 );
  font-size: 1.6rem;
  line-height: 1.5;

  }
  p{
    font-size: 1.8rem ;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--blanco);
  }
  a{
      text-decoration: none;
  }
  img{
      width: auto;
  }

  .contenedor{
      max-width: 120rem;
      margin: 0 auto;
  }

  h1,h2,h3
    {
      text-align: center;
      color: var(--secundario);
      font-family: var(--fuente-principal);
      
    }
  h1{
      font-size: 4rem;
    }
  h2{
      font-size: 3.2rem;
    }
  h3{
      font-size: 2.4rem;
    }

    /*header*/
    .header{
        display: flex;
        justify-content: center;
    }
    .header__logo{
        margin: 3rem 0;
        height: 50rem;
    }
    /*Footer*/
    .footer{
      background: #b3008c;
      background: -moz-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #b3008c), color-stop(20%, #b3008c), color-stop(22%, #9e0074), color-stop(51%, #660047), color-stop(72%, #a3006d), color-stop(100%, #a3006d));
      background: -webkit-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: -o-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: -ms-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: linear-gradient(to right, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3008c', endColorstr='#a3006d', GradientType=1 );
      padding: 1rem 0;
      margin-top: 2rem;

    }
    .footer__texto{
      font-family: var(--fuente-principal);
      text-align: center;
      font-size: 2.2rem;

    }
    /*Navegacion*/
    
    .navegacion{
      background: #b3008c;
      background: -moz-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #b3008c), color-stop(20%, #b3008c), color-stop(22%, #9e0074), color-stop(51%, #660047), color-stop(72%, #a3006d), color-stop(100%, #a3006d));
      background: -webkit-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: -o-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: -ms-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: linear-gradient(to right, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3008c', endColorstr='#a3006d', GradientType=1 );
      border-radius: 5rem;
      padding: 1rem 0;
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
    .navegacion__enlace
    {
        font-family: var(--fuente-principal);
        color: var(--blanco);
        font-size: 3rem;
        
        
    }
    .navegacion__enlace:hover,.navegacion__enlace--activo{
        color: var(--secundario);
    }
    /*GRID*/
    .grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

    }
    @media (min-width: 768px) {
        .grid{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }
    } 
    @media (min-width: 480px) {
        .grid{
          grid-template-columns: repeat(1,1);
          
        }
    } 
    
   
    
    
    /*Producto*/
    .producto{
    -webkit-box-shadow: -4px 45px 22px -17px rgba(0,0,0,0.55);
    -moz-box-shadow: -4px 45px 22px -17px rgba(0,0,0,0.55);
    box-shadow: -4px 45px 22px -17px rgba(0,0,0,0.55);
    border-radius: 1rem;
    padding: 2rem;
    width: 80%;
    
    
    
    }
    .producto__imagen{
    -webkit-box-shadow: -4px 45px 22px -17px rgba(0,0,0,0.55);
    -moz-box-shadow: -4px 45px 22px -17px rgba(0,0,0,0.55);
    box-shadow: -4px 45px 22px -17px rgba(0,0,0,0.55);
    border-radius: 1rem;
    margin-bottom: 2rem;
    
    }
    
    .producto__nombre{
      font-size: 4rem;
      color: var(--secundario);
    }
    .producto__precio{
      font-size: 2.8rem;
      color: var(--secundario);
    }
    .producto__precio,.producto__nombre{
      font-family: var(--fuente-principal);
      margin: 1rem 0;
      text-align: center;
      background: #b3008c;
      background: -moz-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #b3008c), color-stop(20%, #b3008c), color-stop(22%, #9e0074), color-stop(51%, #660047), color-stop(72%, #a3006d), color-stop(100%, #a3006d));
      background: -webkit-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: -o-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: -ms-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: linear-gradient(to right, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3008c', endColorstr='#a3006d', GradientType=1 );
      border-radius: 5rem;
      
    }

    h1, h2{
      background: #b3008c;
      background: -moz-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #b3008c), color-stop(20%, #b3008c), color-stop(22%, #9e0074), color-stop(51%, #660047), color-stop(72%, #a3006d), color-stop(100%, #a3006d));
      background: -webkit-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: -o-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: -ms-linear-gradient(left, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      background: linear-gradient(to right, #b3008c 0%, #b3008c 20%, #9e0074 22%, #660047 51%, #a3006d 72%, #a3006d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3008c', endColorstr='#a3006d', GradientType=1 );
      -webkit-box-shadow: -4px 45px 22px -17px rgba(0,0,0,0.55);
      -moz-box-shadow: -4px 45px 22px -17px rgba(0,0,0,0.55);
      box-shadow: -4px 45px 22px -17px rgba(0,0,0,0.55);
      border-radius: 5rem;
    }
    .grafico{
      min-height: 30rem;
      width: auto;
    }
    .grafico__marvel{
      grid-row: 2/3;
      grid-column: 1/2;
      background-image: url(../img/marvel-logo.jpg);
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: cover;
      border-radius: 5rem;
      border: .5rem solid #b3008c;
      width: 80%;
      

    }
    .grafico__boom{
      background-image: url(../img/boom.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      grid-column: 1/2;
      grid-row: 8/9;
      border-radius: 5rem;
      border: .5rem solid #b3008c;
      width: 80%;
    }
    @media (min-width: 768px) {
      .grafico__boom{
        grid-row: 5/6;
        grid-column: 2/4;
        
  
      }
    } 
    @media (min-width: 768px) {
      .grafico__marvel{
        grid-row: 2/3;
        grid-column: 1/3;
        
  
      }
    } 
    
    .nosotros{
      display: grid;
      grid-template-rows: repeat(2, auto);
    }
    @media (min-width: 768px) {
      .nosotros{
        
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
      }
    } 
    
    .nosotros__contenido__escrito{
      font-family: var(--fuente-principal);
      color: var(--negro);
    }
    .nosotros__imagen{
      grid-row: 1/2;
      border-radius: 1rem;
      width: auto;
    }
    @media (min-width: 768px) {
        .nosotros__imagen{
          grid-column: 2/3;
        }


    }
    .nosotros__contenido__escrito{
      margin-left: 5rem;
    }
    
    /*BLOQUES*/ 
    
    .bloques{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
    .bloque{
      text-align: center;
    }
    .bloque__titulo{
      margin: 0%;
    }
    .bloque__imagen{
      width: auto;
    }

    /*pagina del producto*/
    
    @media (min-width:768px ) {
      .remera{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
      }
    } 
    
.formulario{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;


}
.formulario__campo{
border: 1rem solid #b3008c;
background-color: transparent;
color: var(--negro);
font-size: 2rem;
font-family: Arial, Helvetica, sans-serif;
padding: 1rem;
appearance: none;
text-transform: capitalize;
}
.formulario__submit{
  background-color: var(--secundario);
  border: none;
  font-size: 2rem;
  font-family: var(--fuente-principal);
  padding: 2rem;
  border-radius: 1rem;
  transition: font-size 0.3s ease;
  grid-column: 1/3;
  
}
.formulario__submit:hover{
  font-size: 2.4rem;
  cursor: pointer;
  background-color: var(--secundarioOscuro);
}
    


    