.nav-principal{
    display: flex;
    flex-direction: row;
    justify-content:space-between
}
.nav-elementos{
    display: flex;
    flex-direction: row;
    justify-content: space-arround;
    column-gap: 3rem;
    align-items: center;
    list-style-type: none;
}